@model TFSSincronizador.Models.MappingField

@{
    ViewData["Title"] = "CreateFields";
}

<h1>CreateFields</h1>

<h4>MappingField</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFields">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TFSFieldId" class="control-label"></label>
                <input asp-for="TFSFieldId" class="form-control" />
                <span asp-validation-for="TFSFieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JiraFieldId" class="control-label"></label>
                <input asp-for="JiraFieldId" class="form-control" />
                <span asp-validation-for="JiraFieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

