@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
             
        }

        .container img {
            max-width: 15%;
            max-height: 15%;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .title{
            font-family: Arial, sans-serif;
            font-weight: 300; 
            text-align: center;
            
        }

        
    </style>
</head>

<body>

    <div class="container">
        <img src="~/Images/VTXRM_Logo_Orange.jpg" alt="Centered Image">

    </div>

    <h1 class="title">VTXRM Synchronizer</h1>

  

</body>
</html>